body{
  width: 100%;
  background-color: rgba(255, 228, 196, 0.185);
}

.rowc{
  width: 100%;
}


.navbar{
  height: 70px;
  color: white;
  background-color: rgb(3, 3, 51);
  text-transform:capitalize;
  padding-top: 1.5%;
  border:none;
  border-radius: 0;
  font-size: 200%;
  margin-top:0;
  width: 100%;
}
.test{
  background-color: yellow;
}
.formCustom{
  /* border-bottom: none; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  resize: none;
  width: 100%;
}
.addBtn{
  border: none;
  font-size: 30px;
  background-color: transparent;
  outline: none;
  margin-top:12px;
}
.addBtn2{
  font-size: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  margin-top:5px;

}
.noteRender{
  margin-top:20px;
}
.dash{
  width: 100%;
  background-color: rgba(22, 21, 21, 0.534);
  height: 1px;
  margin-top:5px;
  margin-bottom: 5px;
  padding: 0;
}
.edit{
  color: gray;
}
.remove{
  color:red;
}
.ok{
  color: green;
}